//- ====================
//- Dunlop: mixin news-item
//- 07-05-2016: Maksim Karukanov
//- --------------------
//- Шаблон одной новости
//- ====================

mixin news-item(title, text, date, image, move)
    +e('li').item(class!=attributes.class)
        - var clear = ''
        if !image
            - var clear = 'b-news__link--clear'
        +e('a').link(href="javascript:void(0)" title="#{text}" class="#{clear}")
            if image
                +e('div').image-block
                    +e('img')(src="#{image}" alt="#{text}" title="#{text}").image
            +e.title #{title}
            if text != ''
                +e('p').text #{text}
            +e.date #{date}
            +e.read #{move}

//- ====================
//- Dunlop: mixin news
//- 07-05-2016: Maksim Karukanov
//- --------------------
//- Шаблон новостной ленты
//- ====================
mixin news()
    +b.news
        +b.container--news
            h1 новости
        +b.line
            +b.container--news
                +b.line--news
        +e('ul').list
            +news-item('Dunlop выводит на украинский рынок летние шины Eagle Sport и еще в три строки','Dunlop выводит на украинский рынок летние шины Eagle Sport и еще в три строки','20 апреля 2016', '/images/content/news-1.jpg', 'читать')
            +news-item('Porsche и Pirelli сделали современные шины для классических спорткаров','Porsche и Pirelli сделали современные шины для классических спорткаров','20 апреля 2016', '/images/content/news-2.jpg', 'читать')
            +news-item('Porsche и Pirelli сделали современные шины для классических спорткаров','Компания Porsche совместно с Pirelli представила современные шины, специально разработанные для классических спорткаров немецкой марки','20 апреля 2016', '/images/content/news-3.jpg', 'читать')
            +news-item('Dunlop представила в России летние новинки','Dunlop представила в России летние новинки', '20 апреля 2016', '', 'читать')
            +news-item('Шины для беспилотных автомобилей','Шины для беспилотных автомобилей','20 апреля 2016', '/images/content/news-3.jpg', 'читать')
            +news-item('Dunlop представила новую шину для туристических мотоциклов','Dunlop представила новую шину для туристических мотоциклов','20 апреля 2016', '/images/content/news-4.jpg', 'читать')
            +news-item('Goodyear выводит на украинский рынок летние шины Eagle Sport','Goodyear выводит на украинский рынок летние шины Eagle Sport','20 апреля 2016', '/images/content/news-5.jpg', 'читать')
            //- +news-item('Goodyear и Dunlop представили новые высокоскоростные летние шины','Goodyear и Dunlop представили новые высокоскоростные летние шины','20 апреля 2016', '/images/content/news-6.jpg', 'читать')

//- Dunlop: mixin news-item-other
//- 07-05-2016: Tatiana Shemenyova
//- ---------------------
//- другие новости
mixin news-item-other-list()
    // BEGIN section.b-news-item-other
    +b('section').container--news
        +b.news--other
            +e('ul').list--other
                +news-item('Шины для беспилотных автомобилей','','20 апреля 2016', '/images/content/news-other-1.jpg', 'следующая новость').b-news__item--other
                +news-item('Dunlop представила новую шину для туристических мотоциклов','','20 апреля 2016', '', 'следующая новость').b-news__item--other
    // END section.b-news-item-other